* {
    margin: 0;
    padding: 0;
    --primaryColor: #010206;
    --secondaryColor: rgb(77, 77, 77);
    --textColor: white;
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--primaryColor); */

}

nav {
    /* border: 1px solid white; */
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;

}

body nav ul {
    list-style: none;
    color: var(--textColor);
    display: flex;
    align-items: center;
    position: relative;
    top: .5rem;
    gap: 6rem;
    padding-right: 12rem;
}

nav ul a{
    text-decoration: none;
}

nav ul li {
    cursor: pointer;
}

nav h1 {
    display: flex;
    align-items: center;
    position: relative;
    top: .3rem;
    left: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.right img {
    width: 700px;
    height: auto;
    position: relative;
    right: 2rem;
}

.hero {
    background-color: var(--primaryColor);
    height: 100vh;
    display: flex;
    justify-content: space-around;
}


.left {
    background-color: var(--primaryColor);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 11rem;
    gap: 1rem;
}

.hero .right {
    background-color: var(--primaryColor);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5rem;

}

.left h1 {
    font-size: 3rem;
    font-weight: bold;
}

.left p {
    width: 60%;
    line-height: 1.8rem;
}

.left button {
    background-color: #ffffff;
    color: var(--primaryColor);
    padding: 0.1rem 0.5;


}

.skills {
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;



}

.skills ul {
    background-color: none;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-top: 0.3rem;
}

.skills div img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.skillsLogo {
    display: flex;
    gap: 3rem;
    position: relative;
    top: 1rem;
}


.skills ul li {
    position: relative;
    top: 1rem;
    right: 2rem;
    cursor: pointer;

}

.skills ul .li3 {
    position: relative;
    right: 2.5rem;
}

.skills ul .li4 {
    position: relative;
    right: 0.5rem;
}

.services {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.listServices {
    padding: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}



.listServices div {
    background-color: var(--primaryColor);
    height: 25rem;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 1rem;
}

.services div img {
    height: 100px;
}

.services h2 {
    text-decoration: underline;
    position: relative;
    top: 4rem;
    align-self: center;
    color: var(--primaryColor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Tahoma, sans-serif;
    font-size: 5rem;

}

.services div h1 {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.projects {
    height: 100vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding-left: 15%;
}

.carousel-itemactive img {
    width: 50rem;

}


.projects h1 {
    text-decoration: underline;
    position: relative;
    top: 1rem;
    color: var(--primaryColor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Tahoma, sans-serif;
    font-size: 5rem;
}


.form {
    background-color: var(--primaryColor);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.formLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 11rem;
    /* border: 2px solid white; */
    padding: 10rem;
    width: 55%;
    
}

.formLeft img {
    height: 450px;
    width: 450px;
    position: relative;
    left: 9rem;
    bottom: 2rem;
    
}

.formRight {
    /* border: 2px solid white; */
    color: var(--primaryColor);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 3rem;
}

.dataForm {
    max-width: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

