.container {
    background-color: rgb(255, 255, 246);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50vh;
    
}

.item{
    margin: 10px;
    gap: 5px;
    font-size: 16px;
    width: 400px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center
}


.item1{
    background-color: rgb(255, 68, 68);
}
.item2{
    align-self: center;
    justify-content: center;
    background-color: rgb(27, 147, 27);
}

.item3{
    background-color: rgb(255, 216, 0);
    justify-content: center;
    align-self: flex-end;
}


.container-1 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    
}

.item4{
    background-color: blueviolet;
    justify-content: center;
    align-self: flex-end;
}
.item5{
    background-color: orange;
    align-self: center;
}
.item6{
    background-color: teal;
    justify-content: center;
    align-self: flex-start;
}