* {
   margin: 0;
   padding: 0;
   font-size: 10px;
}
.father{
 background-color: lightgreen;
 height: 300px;
 width: 1000px;
 font-size: 20px;
 
}

.son{
   font-size: 5em;

}

h1{
  font-size: 10rem;
}

p{
  font-size: 50pt;
}